MONGODB_URI=mongodb://bun:bun@localhost:27017/bunzina-workshop?authSource=admin
MONGODB_DB=bunzina-workshop

RABBITMQ_URL=amqp://bunzina:bunzina@localhost:5672
RABBITMQ_EXCHANGE=bunzina.events
RABBITMQ_QUEUE=bunzina-workshop.inbox

OTEL_SERVICE_NAME=bunzina-workshop
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=
